<html>
 <head></head>
 <body>
  <table width="100%" cellspacing="0" cellpadding="0" border="0" align="center" style="border-collapse:collapse;table-layout:fixed">
   <tbody>
    <tr>
     <td class="m_-8631593222615902142layout-container-border" valign="top" align="center" bgcolor="#950010" style="background-color:rgb(149,0,16);padding:10px">
      <table width="100%" cellspacing="0" cellpadding="0" border="0" align="center" bgcolor="#950010" style="border-collapse:collapse;table-layout:fixed;background-color:rgb(149,0,16)">
       <tbody>
        <tr>
         <td class="m_-8631593222615902142layout-container" valign="top" align="center" bgcolor="#ffffff" style="background-color:rgb(255,255,255);padding:0px">
          <div>
           <table class="m_-8631593222615902142galileo-ap-layout-editor" width="100%" cellspacing="0" cellpadding="0" border="0" style="border-collapse:collapse;table-layout:fixed;min-width:100%">
            <tbody>
             <tr>
              <td class="m_-8631593222615902142editor-col m_-8631593222615902142editor-logo m_-8631593222615902142OneColumnMobile" width="100%" valign="top" align="left" bgcolor="FFFFFF" style="background-color:rgb(255,255,255)">
               <div class="m_-8631593222615902142gl-contains-image">
                <table class="m_-8631593222615902142editor-image m_-8631593222615902142logo-container" width="100%" cellspacing="0" cellpadding="0" border="0" style="border-collapse:collapse;table-layout:fixed">
                 <tbody>
                  <tr>
                   <td valign="top" align="center" style="padding-top:0px;padding-bottom:0px">
                    <div class="m_-8631593222615902142publish-container">
                     <a href="https://mishnastudy.com/" style="text-decoration:underline" target="_blank"><img alt="" src="https://cdn.tanachstudy.com/assets/images/mishna-study-logo.png" width="458" vspace="0" hspace="0" border="0" style="display:block;height:auto;max-width:100%" class="CToWUd" /></a>
                    </div></td>
                  </tr>
                 </tbody>
                </table>
               </div></td>
             </tr>
            </tbody>
           </table>
           <table class="m_-8631593222615902142galileo-ap-layout-editor" width="100%" cellspacing="0" cellpadding="0" border="0" style="border-collapse:collapse;table-layout:fixed;min-width:100%">
            <tbody>
             <tr>
              <td class="m_-8631593222615902142editor-col m_-8631593222615902142OneColumnMobile" width="100%" valign="top" align="">
               <div class="m_-8631593222615902142gl-contains-divider">
                <table class="m_-8631593222615902142editor-divider" width="100%" cellspacing="0" cellpadding="0" border="0" style="border-collapse:collapse;table-layout:fixed;min-width:100%">
                 <tbody>
                  <tr>
                   <td valign="top" align="center">
                    <table class="m_-8631593222615902142galileo-ap-content-editor" width="100%" style="border-collapse:collapse;table-layout:fixed;min-width:100%">
                     <tbody>
                      <tr>
                       <td class="m_-8631593222615902142divider-base m_-8631593222615902142divider-solid" width="100%" valign="top" align="center" style="padding:9px 0px 5px">
                        <table cellspacing="0" cellpadding="0" border="0" align="center" style="border-collapse:collapse;table-layout:fixed;width:600px;min-width:100%;height:1px">
                         <tbody>
                          <tr>
                           <td height="1" align="center" bgcolor="950010" style="background-color:rgb(149,0,16);padding-bottom:7px;border-bottom-width:medium;border-bottom-style:none;height:1px;line-height:1px">
                            <div>
                             <img alt="" src="https://ci5.googleusercontent.com/proxy/prjVWi9agcvHo6wWwSY0NoWHiaFTUW1GFE88HIUk5LrHN5aeEIX3D6pJtDlEPNI6Dvf_Ou5XHLexQ1ajT_5sVXHMGfcLsqoinYvkNDmXc8HzvBff2Y637Q=s0-d-e1-ft#https://imgssl.constantcontact.com/letters/images/1101116784221/S.gif" width="5" vspace="0" hspace="0" height="1" border="0" style="display:block;height:1px;width:5px" class="CToWUd" />
                            </div></td>
                          </tr>
                         </tbody>
                        </table></td>
                      </tr>
                     </tbody>
                    </table></td>
                  </tr>
                 </tbody>
                </table>
               </div></td>
             </tr>
            </tbody>
           </table>
           <table class="m_-8631593222615902142galileo-ap-layout-editor" width="100%" cellspacing="0" cellpadding="0" border="0" style="border-collapse:collapse;table-layout:fixed;min-width:100%">
            <tbody>
             <tr>
              <td class="m_-8631593222615902142section-headline m_-8631593222615902142editor-col m_-8631593222615902142OneColumnMobile" width="100%" valign="top" align="left" bgcolor="950010" style="background-color:rgb(149,0,16)">
               <div class="m_-8631593222615902142gl-contains-text">
                <table width="100%" cellspacing="0" cellpadding="0" border="0" style="border-collapse:collapse;table-layout:fixed">
                 <tbody>
                  <tr>
                   <td class="m_-8631593222615902142section-headline-text m_-8631593222615902142editor-text" valign="top" align="left" style="line-height:1.5;font-family:&quot;Open Sans&quot;,sans-serif;font-size:24px;color:rgb(255,255,255);text-align:center;display:block;word-wrap:break-word;font-weight:bold;padding:10px 20px">
                    <div></div>
                    <div class="m_-8631593222615902142galileo-ap-content-editor m_-8631593222615902142text-container">
                     <div>
                      <div>
                       <span style="font-size:28px;font-family:&quot;Open Sans&quot;,sans-serif">Seder Moed</span>
                      </div>
                      <div>
                       <span style="font-size:24px;font-family:&quot;Open Sans&quot;,sans-serif;font-style:italic;font-weight:normal">Sponsorship Available</span>
                       <span style="font-style:italic">﻿</span>
                      </div>
                     </div>
                    </div></td>
                  </tr>
                 </tbody>
                </table>
               </div></td>
             </tr>
            </tbody>
           </table>
           <table class="m_-8631593222615902142galileo-ap-layout-editor" width="100%" cellspacing="0" cellpadding="0" border="0" style="border-collapse:collapse;table-layout:fixed;min-width:100%">
            <tbody>
             <tr>
              <td class="m_-8631593222615902142editor-col m_-8631593222615902142OneColumnMobile" width="100%" valign="top" align="">
               <div class="m_-8631593222615902142gl-contains-divider">
                <table class="m_-8631593222615902142editor-divider" width="100%" cellspacing="0" cellpadding="0" border="0" style="border-collapse:collapse;table-layout:fixed;min-width:100%">
                 <tbody>
                  <tr>
                   <td valign="top" align="center">
                    <table class="m_-8631593222615902142galileo-ap-content-editor" width="100%" style="border-collapse:collapse;table-layout:fixed;min-width:100%">
                     <tbody>
                      <tr>
                       <td class="m_-8631593222615902142divider-base m_-8631593222615902142divider-solid" width="100%" valign="top" align="center" style="padding:5px 0px 9px">
                        <table cellspacing="0" cellpadding="0" border="0" align="center" style="border-collapse:collapse;table-layout:fixed;width:600px;min-width:100%;height:1px">
                         <tbody>
                          <tr>
                           <td height="1" align="center" bgcolor="950010" style="background-color:rgb(149,0,16);padding-bottom:7px;border-bottom-width:medium;border-bottom-style:none;height:1px;line-height:1px">
                            <div>
                             <img alt="" src="https://ci5.googleusercontent.com/proxy/prjVWi9agcvHo6wWwSY0NoWHiaFTUW1GFE88HIUk5LrHN5aeEIX3D6pJtDlEPNI6Dvf_Ou5XHLexQ1ajT_5sVXHMGfcLsqoinYvkNDmXc8HzvBff2Y637Q=s0-d-e1-ft#https://imgssl.constantcontact.com/letters/images/1101116784221/S.gif" width="5" vspace="0" hspace="0" height="1" border="0" style="display:block;height:1px;width:5px" class="CToWUd" />
                            </div></td>
                          </tr>
                         </tbody>
                        </table></td>
                      </tr>
                     </tbody>
                    </table></td>
                  </tr>
                 </tbody>
                </table>
               </div></td>
             </tr>
            </tbody>
           </table>
           <table class="m_-8631593222615902142galileo-ap-layout-editor" width="100%" cellspacing="0" cellpadding="0" border="0" style="border-collapse:collapse;table-layout:fixed;min-width:100%">
            <tbody>
             <tr></tr>
            </tbody>
           </table>
           <table class="m_-8631593222615902142galileo-ap-layout-editor" width="100%" cellspacing="0" cellpadding="0" border="0" style="border-collapse:collapse;table-layout:fixed;min-width:100%">
            <tbody>
             <tr>
              <td class="m_-8631593222615902142editor-col m_-8631593222615902142OneColumnMobile" width="100%" valign="top" align="">
               <div class="m_-8631593222615902142gl-contains-divider">
                <table class="m_-8631593222615902142editor-divider" width="100%" cellspacing="0" cellpadding="0" border="0" style="border-collapse:collapse;table-layout:fixed;min-width:100%">
                 <tbody>
                  <tr>
                   <td valign="top" align="center">
                    <table class="m_-8631593222615902142galileo-ap-content-editor" width="100%" style="border-collapse:collapse;table-layout:fixed;min-width:100%">
                     <tbody>
                      <tr>
                       <td class="m_-8631593222615902142divider-base m_-8631593222615902142divider-solid" width="100%" valign="top" align="center" style="padding:9px 0px">
                        <table cellspacing="0" cellpadding="0" border="0" align="center" style="border-collapse:collapse;table-layout:fixed;height:1px;width:564px;min-width:94%">
                         <tbody>
                          <tr>
                           <td height="1" align="center" bgcolor="#950010" style="border-bottom-width:medium;border-bottom-style:none;height:1px;line-height:1px;padding-bottom:0px;background-color:rgb(149,0,16)">
                            <div>
                             <img alt="" src="https://ci5.googleusercontent.com/proxy/prjVWi9agcvHo6wWwSY0NoWHiaFTUW1GFE88HIUk5LrHN5aeEIX3D6pJtDlEPNI6Dvf_Ou5XHLexQ1ajT_5sVXHMGfcLsqoinYvkNDmXc8HzvBff2Y637Q=s0-d-e1-ft#https://imgssl.constantcontact.com/letters/images/1101116784221/S.gif" width="5" vspace="0" hspace="0" height="1" border="0" style="display:block;height:1px;width:5px" class="CToWUd" />
                            </div></td>
                          </tr>
                         </tbody>
                        </table></td>
                      </tr>
                     </tbody>
                    </table></td>
                  </tr>
                 </tbody>
                </table>
               </div></td>
             </tr>
            </tbody>
           </table>
           <table class="m_-8631593222615902142galileo-ap-layout-editor" width="100%" cellspacing="0" cellpadding="0" border="0" style="border-collapse:collapse;table-layout:fixed;min-width:100%">
            <tbody>
             <tr>
              <td class="m_-8631593222615902142editor-col m_-8631593222615902142headline m_-8631593222615902142OneColumnMobile" width="100%" valign="top" align="left" bgcolor="FFFFFF" style="background-color:rgb(255,255,255)">
               <div class="m_-8631593222615902142gl-contains-text">
                <table width="100%" cellspacing="0" cellpadding="0" border="0" style="border-collapse:collapse;table-layout:fixed">
                 <tbody>
                  <tr>
                   <td class="m_-8631593222615902142editor-text m_-8631593222615902142headline-text" valign="top" align="left" style="font-family:&quot;Open Sans&quot;,sans-serif;font-size:24px;color:rgb(149,0,16);text-align:center;display:block;word-wrap:break-word;line-height:1.2;font-weight:bold;padding:10px 20px">
                    <div></div>
                    <div class="m_-8631593222615902142galileo-ap-content-editor m_-8631593222615902142text-container">
                     <div>
                      <div>
                       <span style="color:rgb(61,61,61)">Masechet Shabbat</span>
                      </div>
                      <div>
                       <span style="font-size:22px;color:rgb(61,61,61);font-weight:normal;font-style:italic">Sponsorship Available</span>
                      </div>
                     </div>
                    </div></td>
                  </tr>
                 </tbody>
                </table>
               </div></td>
             </tr>
            </tbody>
           </table>
           <table class="m_-8631593222615902142galileo-ap-layout-editor" width="100%" cellspacing="0" cellpadding="0" border="0" style="border-collapse:collapse;table-layout:fixed;min-width:100%">
            <tbody>
             <tr>
              <td class="m_-8631593222615902142editor-col m_-8631593222615902142OneColumnMobile" width="100%" valign="top" align="">
               <div class="m_-8631593222615902142gl-contains-divider">
                <table class="m_-8631593222615902142editor-divider" width="100%" cellspacing="0" cellpadding="0" border="0" style="border-collapse:collapse;table-layout:fixed;min-width:100%">
                 <tbody>
                  <tr>
                   <td valign="top" align="center">
                    <table class="m_-8631593222615902142galileo-ap-content-editor" width="100%" style="border-collapse:collapse;table-layout:fixed;min-width:100%">
                     <tbody>
                      <tr>
                       <td class="m_-8631593222615902142divider-base m_-8631593222615902142divider-solid" width="100%" valign="top" align="center" style="padding:9px 0px">
                        <table cellspacing="0" cellpadding="0" border="0" align="center" style="border-collapse:collapse;table-layout:fixed;height:1px;width:564px;min-width:94%">
                         <tbody>
                          <tr>
                           <td height="1" align="center" bgcolor="#950010" style="border-bottom-width:medium;border-bottom-style:none;height:1px;line-height:1px;padding-bottom:0px;background-color:rgb(149,0,16)">
                            <div>
                             <img alt="" src="https://ci5.googleusercontent.com/proxy/prjVWi9agcvHo6wWwSY0NoWHiaFTUW1GFE88HIUk5LrHN5aeEIX3D6pJtDlEPNI6Dvf_Ou5XHLexQ1ajT_5sVXHMGfcLsqoinYvkNDmXc8HzvBff2Y637Q=s0-d-e1-ft#https://imgssl.constantcontact.com/letters/images/1101116784221/S.gif" width="5" vspace="0" hspace="0" height="1" border="0" style="display:block;height:1px;width:5px" class="CToWUd" />
                            </div></td>
                          </tr>
                         </tbody>
                        </table></td>
                      </tr>
                     </tbody>
                    </table></td>
                  </tr>
                 </tbody>
                </table>
               </div></td>
             </tr>
            </tbody>
           </table>
           <table class="m_-8631593222615902142galileo-ap-layout-editor" width="100%" cellspacing="0" cellpadding="0" border="0" style="border-collapse:collapse;table-layout:fixed;min-width:100%">
            <tbody>
             <tr>
              <td class="m_-8631593222615902142section-headline m_-8631593222615902142editor-col m_-8631593222615902142OneColumnMobile" width="100%" valign="top" align="left" bgcolor="464646" style="background-color:rgb(70,70,70)">
               <div class="m_-8631593222615902142gl-contains-text">
                <table width="100%" cellspacing="0" cellpadding="0" border="0" style="border-collapse:collapse;table-layout:fixed">
                 <tbody>
                  <tr>
                   <td class="m_-8631593222615902142section-headline-text m_-8631593222615902142editor-text" valign="top" align="left" style="font-family:&quot;Open Sans&quot;,sans-serif;font-size:24px;color:rgb(255,255,255);text-align:center;display:block;word-wrap:break-word;line-height:1.2;font-weight:bold;padding:10px 20px">
                    <div></div>
                    <div class="m_-8631593222615902142galileo-ap-content-editor m_-8631593222615902142text-container">
                     <div>
                      <div>
                       <span style="font-size:20px;font-weight:normal">Shabbat 16:6 - A Non Jew And A Minor Extinguishing A Fire</span>
                      </div>
                     </div>
                    </div></td>
                  </tr>
                 </tbody>
                </table>
               </div></td>
             </tr>
            </tbody>
           </table>
           <table class="m_-8631593222615902142galileo-ap-layout-editor" width="100%" cellspacing="0" cellpadding="0" border="0" style="border-collapse:collapse;table-layout:fixed;min-width:100%">
            <tbody>
             <tr>
              <td class="m_-8631593222615902142editor-col m_-8631593222615902142OneColumnMobile" width="50%" valign="top" align="">
               <div>
                <div class="m_-8631593222615902142column-resize-bar">
                 <span class="m_-8631593222615902142line"></span>
                 <span class="m_-8631593222615902142grabber"></span>
                </div>
               </div>
               <div class="m_-8631593222615902142gl-contains-button">
                <table class="m_-8631593222615902142editor-button" width="100%" cellspacing="0" cellpadding="0" border="0" style="border-collapse:collapse;table-layout:fixed;width:300px;min-width:100%">
                 <tbody>
                  <tr>
                   <td class="m_-8631593222615902142editor-button-container" style="font-family:Arial,Verdana,Helvetica,sans-serif;font-size:14px;color:rgb(255,255,255);text-decoration:none;padding:10px 10px 10px 20px">
                    <table class="m_-8631593222615902142galileo-ap-content-editor" style="border-collapse:collapse;table-layout:fixed;width:270px;min-width:100%">
                     <tbody>
                      <tr>
                       <td class="m_-8631593222615902142MainTextFullWidthTD" valign="top" align="center" style="font-family:Arial,Verdana,Helvetica,sans-serif;font-size:14px;color:rgb(255,255,255);text-decoration:none;padding:0px">
                        <table cellspacing="0" cellpadding="0" border="0" bgcolor="950010" style="border-collapse:collapse;table-layout:fixed;background-color:rgb(149,0,16);border-spacing:0px;padding:0px;border:none">
                         <tbody>
                          <tr>
                           <td class="m_-8631593222615902142MainTextFullWidthTD" valign="top" align="center" style="font-family:Arial,Verdana,Helvetica,sans-serif;font-size:14px;color:rgb(255,255,255);text-decoration:none;padding:9px 15px 10px">
                            <div>
                             <div class="m_-8631593222615902142MainTextFullWidth">
                              <a href="https://cdn.tanachstudy.com/archives/mishna/moed/shabbat/moed-shabbat-16-6-rabbi-ikey-tawil.mp3" style="text-decoration:none;font-size:18px;font-family:&quot;Open Sans&quot;,sans-serif;font-weight:normal;color:rgb(255,255,255)" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://cdn.tanachstudy.com/archives/mishna/moed/shabbat/moed-shabbat-16-6-rabbi-ikey-tawil.mp3&amp;source=gmail&amp;ust=1564020235949000&amp;usg=AFQjCNECNWr-gNigVc54tx4GRCWjxMQK4A">Download Class</a>
                             </div>
                            </div></td>
                          </tr>
                         </tbody>
                        </table></td>
                      </tr>
                     </tbody>
                    </table></td>
                  </tr>
                 </tbody>
                </table>
               </div></td>
              <td class="m_-8631593222615902142editor-col m_-8631593222615902142OneColumnMobile" width="50%" valign="top" align="">
               <div class="m_-8631593222615902142gl-contains-button">
                <table class="m_-8631593222615902142editor-button" width="100%" cellspacing="0" cellpadding="0" border="0" style="border-collapse:collapse;table-layout:fixed;width:300px;min-width:100%">
                 <tbody>
                  <tr>
                   <td class="m_-8631593222615902142editor-button-container" style="font-family:Arial,Verdana,Helvetica,sans-serif;font-size:14px;color:rgb(255,255,255);text-decoration:none;padding:10px 20px 10px 10px">
                    <table class="m_-8631593222615902142galileo-ap-content-editor" style="border-collapse:collapse;table-layout:fixed;width:270px;min-width:100%">
                     <tbody>
                      <tr>
                       <td class="m_-8631593222615902142MainTextFullWidthTD" valign="top" align="center" style="font-family:Arial,Verdana,Helvetica,sans-serif;font-size:14px;color:rgb(255,255,255);text-decoration:none;padding:0px">
                        <table cellspacing="0" cellpadding="0" border="0" bgcolor="#950010" style="border-collapse:collapse;table-layout:fixed;border-spacing:0px;background-color:rgb(149,0,16);padding:0px;border:none">
                         <tbody>
                          <tr>
                           <td class="m_-8631593222615902142MainTextFullWidthTD" valign="top" align="center" style="font-family:Arial,Verdana,Helvetica,sans-serif;font-size:14px;color:rgb(255,255,255);text-decoration:none;padding:9px 15px 10px">
                            <div>
                             <div class="m_-8631593222615902142MainTextFullWidth">
                              <a href="https://tanachstudy.com/mishna-study/perek/moed/shabbat/16?part=6" style="text-decoration:none;font-size:18px;font-family:&quot;Open Sans&quot;,sans-serif;font-weight:normal;color:rgb(255,255,255)" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://tanachstudy.com/mishna-study/perek/moed/shabbat/16?part%3D6&amp;source=gmail&amp;ust=1564020235949000&amp;usg=AFQjCNH3MWoIstuiA3iX10qysG28oxvlGg">Go To Site</a>
                             </div>
                            </div></td>
                          </tr>
                         </tbody>
                        </table></td>
                      </tr>
                     </tbody>
                    </table></td>
                  </tr>
                 </tbody>
                </table>
               </div></td>
             </tr>
            </tbody>
           </table>
           <table class="m_-8631593222615902142galileo-ap-layout-editor" width="100%" cellspacing="0" cellpadding="0" border="0" style="border-collapse:collapse;table-layout:fixed;min-width:100%">
            <tbody>
             <tr>
              <td class="m_-8631593222615902142editor-col m_-8631593222615902142OneColumnMobile" width="100%" valign="top" align="">
               <div class="m_-8631593222615902142gl-contains-spacer">
                <table class="m_-8631593222615902142editor-spacer" width="100%" cellspacing="0" cellpadding="0" border="0" style="border-collapse:collapse;table-layout:fixed">
                 <tbody>
                  <tr>
                   <td valign="top" align="center">
                    <table width="100%" cellspacing="0" cellpadding="0" border="0" style="border-collapse:collapse;table-layout:fixed">
                     <tbody>
                      <tr>
                       <td class="m_-8631593222615902142spacer-base" width="100%" valign="top" align="center" style="padding-bottom:10px;height:1px;line-height:1px">
                        <div>
                         <img alt="" src="https://ci5.googleusercontent.com/proxy/prjVWi9agcvHo6wWwSY0NoWHiaFTUW1GFE88HIUk5LrHN5aeEIX3D6pJtDlEPNI6Dvf_Ou5XHLexQ1ajT_5sVXHMGfcLsqoinYvkNDmXc8HzvBff2Y637Q=s0-d-e1-ft#https://imgssl.constantcontact.com/letters/images/1101116784221/S.gif" width="5" vspace="0" hspace="0" height="1" border="0" style="display:block;height:1px;width:5px" class="CToWUd" />
                        </div></td>
                      </tr>
                     </tbody>
                    </table></td>
                  </tr>
                 </tbody>
                </table>
               </div></td>
             </tr>
            </tbody>
           </table>
           <table class="m_-8631593222615902142galileo-ap-layout-editor" width="100%" cellspacing="0" cellpadding="0" border="0" style="border-collapse:collapse;table-layout:fixed;min-width:100%">
            <tbody>
             <tr>
              <td class="m_-8631593222615902142editor-col m_-8631593222615902142OneColumnMobile" width="100%" valign="top" align="" bgcolor="FFFFFF" style="background-color:rgb(255,255,255)">
               <div class="m_-8631593222615902142gl-contains-social-button">
                <table class="m_-8631593222615902142editor-social" width="100%" cellspacing="0" cellpadding="0" border="0" style="border-collapse:collapse;table-layout:fixed;width:600px;min-width:100%">
                 <tbody>
                  <tr>
                   <td class="m_-8631593222615902142social-container" align="center" style="padding:0px 20px 10px">
                    <div class="m_-8631593222615902142galileo-ap-content-editor">
                     <a href="https://www.facebook.com/tanachstudy" style="text-decoration:none;display:inline-block" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.facebook.com/tanachstudy&amp;source=gmail&amp;ust=1564020235949000&amp;usg=AFQjCNEeqbujoqeZo4Spz-3MLyVLKpP8ww"><img alt="Facebook" src="https://ci5.googleusercontent.com/proxy/plhBfjsHKAAYc2nyC2Bt-zKCOPHrS2mTSOpAJOAd1chgMIXzBZoNcpAh4Htp8j9CV6aj60Cap3V6sFFgbinkP1_GZ0r8mIWTgZ27S9tAMSoUZNQFr8Eu9YIjACrma4-y02MEGE9Lm407I465-sqLi-wYdKuMMqlrZAZzMcuWZpcBQX4t=s0-d-e1-ft#https://imgssl.constantcontact.com/galileo/images/templates/Galileo-SocialMedia/facebook-visit-default-circle.png" width="32" border="0" style="display:inline-block;margin:0px;padding:0px" class="CToWUd" /><span class="m_-8631593222615902142Apple-converted-space">&nbsp;</span>‌</a>
                     <span class="m_-8631593222615902142Apple-converted-space">&nbsp;</span>
                     <a href="https://instagram.com/tanach_study" style="text-decoration:none;display:inline-block" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://instagram.com/tanach_study&amp;source=gmail&amp;ust=1564020235949000&amp;usg=AFQjCNFGvNOMitR_lo5DJGTF0UfLyO-mWQ"><img alt="Instagram" src="https://ci4.googleusercontent.com/proxy/7LZFjqTP9j_quYxnvBGh0ycncDbuW_2AtlVeEXx92Y60Iyw2cpa1e-8-YWCouQ6Hpg78Gi7sylnkJzZCPZc_iZBMQ5s3WEUHx_WV70BdHQq9NrSnvHS6u97F6CXKUD-3JXMspj59W-GcYxmKmifMfUTKfZS-jJ9gszR78HSLUQA0PZaVnw=s0-d-e1-ft#https://imgssl.constantcontact.com/galileo/images/templates/Galileo-SocialMedia/instagram-visit-default-circle.png" width="32" border="0" style="display:inline-block;margin:0px;padding:0px" class="CToWUd" /><span class="m_-8631593222615902142Apple-converted-space">&nbsp;</span>‌</a>
                     <span class="m_-8631593222615902142Apple-converted-space">&nbsp;</span>
                     <a href="https://www.youtube.com/channel/UC0b52aDc7f8VTtxT-Ktfb6Q/feed" style="text-decoration:none;display:inline-block" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.youtube.com/channel/UC0b52aDc7f8VTtxT-Ktfb6Q/feed&amp;source=gmail&amp;ust=1564020235949000&amp;usg=AFQjCNE7UwzKNzSJv-iBBntjSb7m_HBxlA"><img alt="YouTube" src="https://ci6.googleusercontent.com/proxy/VAFV1KtYSuOBm4TG1Rweg2KgMvp66QlP6AZoJty4eNHZCGfv-KVjU5jhlmxVYzd4xwGctEp6a1NxKyNae7gKJkFV10FmJLBF7G1LNjvZvz_1il16I_QcQoMdrijePz6Zytminl1AIJ-N0Z9vH3y0CcwGsnBNgHmV1DZttAJ-y2Vc5UY=s0-d-e1-ft#https://imgssl.constantcontact.com/galileo/images/templates/Galileo-SocialMedia/youtube-visit-default-circle.png" width="32" border="0" style="display:inline-block;margin:0px;padding:0px" class="CToWUd" /><span class="m_-8631593222615902142Apple-converted-space">&nbsp;</span>‌</a>
                    </div></td>
                  </tr>
                 </tbody>
                </table>
               </div></td>
             </tr>
            </tbody>
           </table>
          </div></td>
        </tr>
       </tbody>
      </table></td>
    </tr>
   </tbody>
  </table>
 </body>
</html>
